<%- content_for :page_css do -%>
#content table.index .node .group {
    font-size: 115%;
    font-weight: bold;
}

#content table.index .node .group a {
    color: black;
    text-decoration: none;
}

#content table.index .node .group a:hover {
    color: blue;
    text-decoration: underline;
}

#content table.index .user .name,
#content table.index .user .none {
    padding-left: 26px;
}

#content table.index .node .note,
#content table.index .user .none {
    color: #666;
    font-size: 90%;
    font-style: italic;
    font-weight: normal;
    margin-left: .5em;
}

#content table.index .node .add-child {
    width: 200px;
}

#content table.index .node .add-child form {
    margin: 0;
}

<%- end -%>

<h1>Groups</h1>

<p>Use groups to organize your normal users into publishing teams, with rights to modify certain sections of your site. A user can belong to any number of groups. When a page is owned by a group, its members may edit the page or any underneath it in the site hierarchy. Administrators and Developers can be added to groups, but they already have editing rights to all pages.</p>

<table id="groups" class="index" cellpadding="0" cellspacing="0" border="0">
    <thead>
        <tr>
            <th>Name</th>
            <th colspan="2">Modify</th>
        </tr>
    </thead>
    <tbody>
    <%- @groups.each do |group| -%>
    <tr class="node">
        <td class="group">
            <%= link_to group.name, :action => 'edit', :id => group.id %>
            <small class="note"><%=h group.notes %></small>
        </td>
        <td class="add-child">
            <form method="post" action="<%= group_add_member_url :id => group %>">
                <select name="user_id", id="user_id">
                    <%= options_for_select User.find(:all, :order => 'name ASC').map{|u| [u.name, u.id]}.unshift(['—', '']) %>
                </select>
                <%= image_submit_tag('page_group_permissions/add-member.png', :alt => 'Add Group Member') %>
            </form>
        </td>
        <td class="remove">
            <%= link_to image('remove', :alt => 'Remove Group'), group_remove_url(:id => group) %>
        </td>
    </tr>
        <%- group.users.each do |user| -%>
        <tr class="user">
            <td class="name" colspan="2" >
                <%= link_to user.name, :controller => '/admin/user', :action => 'edit', :id => user.id %>
            </td>
            <td class="remove">
                <%= link_to image_tag('page_group_permissions/remove-member.png', :alt => 'Remove Group Member'), group_remove_member_url(:id => group, :user_id => user) %>
            </td>
        </tr>
        <%- end -%>
        <%- if group.users.empty? -%>
        <tr class="user">
            <td class="none" colspan="3" >no members</td>
        </tr>
        <%- end -%>
    <%- end -%>
    <tbody>
</table>

<p><%= link_to image_tag('page_group_permissions/new-group.png', :alt => 'New Group'), :action => 'new' %></p>